# Compiled Object files
*.slo
*.lo
*.o
*.obj
build/*
build-debug/*
build-release/*


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OS stuff
.DS_Store

# CMake stuff
CMakeCache.txt
CMakeFiles/*
build*.cmake
*.make

# Doxygen stuff
html/*
doc/html/*
doc/latex/*
